[submodule "lws/libwebsockets"]
	path = lws/libwebsockets
	url = git://git.libwebsockets.org/libwebsockets
[submodule "mqtt/mosquitto"]
	path = mqtt/mosquitto
	url = https://github.com/eclipse/mosquitto
