body {
    font-size: 12px;
    padding: 5px;
}

/*
  References: https://codepen.io/AdamBlum/pen/fwrnE
*/

*, *:before, *:after {
  box-sizing: border-box !important;
}

article {
  -moz-column-width: 30em;
  -webkit-column-width: 30em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
}

section {
  display: inline-block;
  margin: 0.25rem;
  padding: 1rem;
  width: 100%;
  background: white;
}
